
@use './colors';
@use './mixins';

.footer {
    background-color: colors.$black;
    color: colors.$white;
    
    &__logo {
        max-width: 7.5rem; // =120px
        padding-top: 3.125rem;

        @include mixins.tablet {
            position: absolute;
            bottom: 70%;
            left: 80%;
        }
        @include mixins.desktop {
            left: 82%;
        }
    }

    &__copyright {
        @include mixins.tablet {
            @include mixins.line-height-20px;  
        }
        @include mixins.desktop {
            padding-top: 0.625rem;
        }
    }

    @include mixins.padding-16px-left;
    @include mixins.padding-16px-right;

    @include mixins.tablet {
        position: relative;
        @include mixins.padding-36px-left;
        @include mixins.padding-36px-right;
    }

    @include mixins.desktop {
        padding-left: 6.875rem;
        padding-right: 6.875rem;
    }
}

.footer-socials {
    &__container {
         display: flex;

         @include mixins.tablet {
            align-items: center;
         }
     }

    &__icons {
        height: 2.5rem;
        padding-right: 1.75rem;

        @include mixins.tablet {
            padding-bottom: 0;
            margin-top: 1.25rem;
            height: 1.5rem;
        }
    }

    &__title {
        @include mixins.tablet {
            padding-right: 2rem;
        }
        @include mixins.desktop {
            padding-right: 3.5rem;
        }
    }

    @include mixins.tablet {
        display: flex;
    }
}

.footer-contacts {
    > div {
        padding-top: 0.5rem;

        p:first-child {
            font-weight: 600;
        }

        p {
            @include mixins.tablet {
                @include mixins.line-height-20px;
            }
        }
    }

    div:nth-child(2), div:nth-child(3) {
        @include mixins.tablet {
            padding-left: 3.438rem;
        }
        @include mixins.desktop {
            padding-left: 5rem;
        }
    }

    @include mixins.tablet {
        display: flex;
    }
}