
@use './colors';
@use './mixins';

.site-header {
    background-color: colors.$black;
    display: flex;

    // Mobile First
    flex-direction: column;
    align-items: center;

    &__logo {
        max-width: 7.5rem; // =120px
        padding-bottom: 0.2rem;
        @include mixins.padding-16px-top;
    }
}

.header-nav {
    width: 100%;
    
    &__list {
        display: flex; //overrides column direction

        @include mixins.reset-list;
    }

    &__item {
        width: 50%;

        @include mixins.line-height-32px;
    }

    &__link {
        width: 100%;
        display: flex;
        justify-content: center;
        color: colors.$mercury;
        text-decoration: none;
        padding-bottom: 0.438rem;
        @include mixins.font-size-14px;

        &--selected {
            color: colors.$white;
            border-bottom: solid colors.$white 0.20rem;
            @include mixins.font-weight-700;
        }

        &:hover {
            color: colors.$white;
            border-bottom: solid colors.$white 0.20rem;
        }
    }
}