
@use './colors';
@use './mixins';

.site-header {
    background-color: colors.$black;
    display: flex;

    // Mobile First
    flex-direction: column;
    align-items: center;

    &__logo {
        max-width: 7.5rem; // =120px
        padding-bottom: 0.2rem;
        @include mixins.padding-16px-top;

        @include mixins.tablet {
            width: 7.5rem;
            padding: 0;
            margin-right: 5rem;
        }        
    }

    @include mixins.tablet {
        flex-direction: row;
        align-items: center;
        @include mixins.padding-36px-left;
        @include mixins.padding-36px-right;
    }

    @include mixins.desktop {
        padding-left: 6.875rem;
        padding-right: 6.875rem;
    }
}

.header-nav {
    width: 100%;
    
    &__list {
        display: flex; //overrides column direction on Mobile
        @include mixins.reset-list;
    }

    &__item {
        width: 50%;
        @include mixins.line-height-32px;

        @include mixins.tablet {
            width: auto;
            padding-right: 3.75rem;
            @include mixins.line-height-44px;
        }
    }

    &__link {
        width: 100%;
        display: flex;
        justify-content: center;
        color: colors.$mercury;
        text-decoration: none;
        padding-bottom: 0.438rem;
        @include mixins.font-size-14px;

        &--selected {
            color: colors.$white;
            border-bottom: solid colors.$white 0.20rem;
            @include mixins.font-weight-700;
        }

        &:hover {
            color: colors.$white;
            border-bottom: solid colors.$white 0.20rem;
        }

        @include mixins.tablet {
            padding-top: 0.375rem;
            padding-bottom: 0.6rem;
        }
    }
}