
@use './variables';

@mixin reset-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
//..............Padding.................
@mixin padding-16px {
    padding: 1rem 0;
}

@mixin padding-16px-bottom {
    padding: 0 0 1rem 0;   
}

//..............Line height.................
@mixin line-height-32px {
    line-height: 2rem;
}


//..............Displays.................
@mixin tablet-0 {
    @media (min-width: variables.$tablet-breakpoint-0) {
        @content;
    }
}

@mixin desktop-0 {
    @media (min-width: variables.$desktop-breakpoint-0) {
        @content;
    }
}