
@use './variables';

@mixin reset-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
//..............Padding.................
@mixin padding-16px {
    padding: 1rem 0;
}

@mixin padding-16px-top {
    padding-top: 1rem;   
}

@mixin padding-16px-bottom {
    padding-bottom: 1rem;   
}

@mixin padding-16px-left {
    padding-left: 1rem;   
}

@mixin padding-16px-right {
    padding-right: 1rem;   
}

@mixin padding-24px-top {
    padding-top: 1.5rem;   
}

//..............Line height.................
@mixin line-height-32px {
    line-height: 2rem;
}

//..............Font sizes.................
@mixin font-size-14px {
    font-size: 0.875rem;
}

//..............Font weights.................
@mixin font-weight-700 {
    font-weight: 700;
}

//..............Displays.................
@mixin tablet-0 {
    @media (min-width: variables.$tablet-breakpoint-0) {
        @content;
    }
}

@mixin desktop-0 {
    @media (min-width: variables.$desktop-breakpoint-0) {
        @content;
    }
}