@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro.ttf") format("truetype"), url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff"), url("../assets/fonts/AvenirNextLTProDemi.ttf") format("truetype"), url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("../assets/fonts/AvenirNextLTProBold.ttf") format("truetype"), url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "AvenirNext LT Pro";
}

h1 {
  margin: 0;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
}
@media (min-width: 48rem) {
  h1 {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

h2 {
  margin: 0;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
}
@media (min-width: 48rem) {
  h2 {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
  }
}

p {
  margin: 0;
  padding-bottom: 1rem;
  font-size: 0.813rem;
  font-weight: 400;
  line-height: 1.125rem;
}
@media (min-width: 48rem) {
  p {
    padding-bottom: 2.25rem;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

img {
  padding-bottom: 1rem;
  width: 100%;
}
@media (min-width: 48rem) {
  img {
    padding-bottom: 2.25rem;
  }
}

.site-header {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.site-header__logo {
  max-width: 7.5rem;
  padding-bottom: 0.2rem;
  padding-top: 1rem;
}
@media (min-width: 48rem) {
  .site-header__logo {
    width: 7.5rem;
    padding: 0;
    margin-right: 5rem;
  }
}
@media (min-width: 48rem) {
  .site-header {
    flex-direction: row;
    align-items: center;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
@media (min-width: 80rem) {
  .site-header {
    padding-left: 6.875rem;
    padding-right: 6.875rem;
  }
}

.header-nav {
  width: 100%;
}
.header-nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-nav__item {
  width: 50%;
  line-height: 2rem;
}
@media (min-width: 48rem) {
  .header-nav__item {
    width: auto;
    padding-right: 3.75rem;
    line-height: 2.75rem;
  }
}
.header-nav__link {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #E1E1E1;
  text-decoration: none;
  padding-bottom: 0.438rem;
  font-size: 0.875rem;
}
.header-nav__link--selected {
  color: #FFFFFF;
  border-bottom: solid #FFFFFF 0.2rem;
  font-weight: 700;
}
.header-nav__link:hover {
  color: #FFFFFF;
  border-bottom: solid #FFFFFF 0.2rem;
}
@media (min-width: 48rem) {
  .header-nav__link {
    padding-top: 0.375rem;
    padding-bottom: 0.6rem;
  }
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding-left: 1rem;
  padding-right: 1rem;
}
.footer__logo {
  max-width: 7.5rem;
  padding-top: 3.125rem;
}
@media (min-width: 48rem) {
  .footer__logo {
    position: absolute;
    bottom: 70%;
    left: 80%;
  }
}
@media (min-width: 80rem) {
  .footer__logo {
    left: 82%;
  }
}
@media (min-width: 48rem) {
  .footer__copyright {
    line-height: 1.25rem;
  }
}
@media (min-width: 80rem) {
  .footer__copyright {
    padding-top: 0.625rem;
  }
}
@media (min-width: 48rem) {
  .footer {
    position: relative;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
@media (min-width: 80rem) {
  .footer {
    padding-left: 6.875rem;
    padding-right: 6.875rem;
  }
}

.footer-socials__container {
  display: flex;
}
@media (min-width: 48rem) {
  .footer-socials__container {
    align-items: center;
  }
}
.footer-socials__icons {
  height: 2.5rem;
  padding-right: 1.75rem;
}
@media (min-width: 48rem) {
  .footer-socials__icons {
    padding-bottom: 0;
    margin-top: 1.25rem;
    height: 1.5rem;
  }
}
@media (min-width: 48rem) {
  .footer-socials__title {
    padding-right: 2rem;
  }
}
@media (min-width: 80rem) {
  .footer-socials__title {
    padding-right: 3.5rem;
  }
}
@media (min-width: 48rem) {
  .footer-socials {
    display: flex;
  }
}

.footer-contacts > div {
  padding-top: 0.5rem;
}
.footer-contacts > div p:first-child {
  font-weight: 600;
}
@media (min-width: 48rem) {
  .footer-contacts > div p {
    line-height: 1.25rem;
  }
}
@media (min-width: 48rem) {
  .footer-contacts div:nth-child(2), .footer-contacts div:nth-child(3) {
    padding-left: 3.438rem;
  }
}
@media (min-width: 80rem) {
  .footer-contacts div:nth-child(2), .footer-contacts div:nth-child(3) {
    padding-left: 5rem;
  }
}
@media (min-width: 48rem) {
  .footer-contacts {
    display: flex;
  }
}

.hero {
  position: relative;
  text-align: left;
}
.hero__image {
  display: block;
  padding: 0;
}
.hero__overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(50, 50, 50, 0.5);
}
.hero__title {
  position: absolute;
  color: #FFFFFF;
  padding-top: 0;
  padding-bottom: 0;
  bottom: 45%;
  padding-left: 1rem;
}
@media (min-width: 48rem) {
  .hero__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    padding-left: 2.25rem;
  }
}
@media (min-width: 80rem) {
  .hero__title {
    padding-left: 6.875rem;
    bottom: 50%;
  }
}

.about-container {
  padding-left: 1rem;
  padding-right: 1rem;
}
.about-container > p {
  padding: 0;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.375rem;
}
@media (min-width: 48rem) {
  .about-container :nth-child(3) {
    padding: 0 3.7rem;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
  }
}
@media (min-width: 80rem) {
  .about-container :nth-child(3) {
    padding: 0 6rem;
    width: 86%;
  }
}
@media (min-width: 48rem) {
  .about-container :nth-child(4) {
    padding: 0.813rem 3.7rem 0 3.7rem;
    font-size: 1rem;
    font-weight: 600;
  }
}
@media (min-width: 80rem) {
  .about-container :nth-child(4) {
    padding: 1.2rem 6rem 0 6rem;
  }
}
@media (min-width: 48rem) {
  .about-container__image {
    padding-left: 3.7rem;
    padding-right: 3.7rem;
  }
}
@media (min-width: 80rem) {
  .about-container__image {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
@media (min-width: 48rem) {
  .about-container {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
@media (min-width: 80rem) {
  .about-container {
    padding-left: 6.875rem;
    padding-right: 6.875rem;
  }
}

@media (min-width: 48rem) {
  .article__body > p:first-child {
    padding-right: 2rem;
  }
}
@media (min-width: 48rem) {
  .article__body {
    display: flex;
  }
}
@media (min-width: 48rem) {
  .article {
    padding: 0 3.7rem;
  }
}
@media (min-width: 80rem) {
  .article {
    padding: 0 6rem;
  }
}

.photo-gallery {
  background-color: #FAFAFA;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 48rem) {
  .photo-gallery__grid > img {
    width: 31%;
    padding: 0;
    margin: 0 1.25rem 1.25rem 0;
  }
}
@media (min-width: 80rem) {
  .photo-gallery__grid > img {
    width: 32%;
  }
}
@media (min-width: 48rem) {
  .photo-gallery__grid :nth-child(3), .photo-gallery__grid :nth-child(6), .photo-gallery__grid :nth-child(9) {
    margin-right: 0;
  }
}
@media (min-width: 48rem) {
  .photo-gallery__grid :nth-child(7), .photo-gallery__grid :nth-child(8), .photo-gallery__grid :nth-child(9) {
    margin-bottom: 0;
    padding-bottom: 2.25rem;
  }
}
@media (min-width: 48rem) {
  .photo-gallery__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (min-width: 48rem) {
  .photo-gallery {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
@media (min-width: 80rem) {
  .photo-gallery {
    padding-left: 6.875rem;
    padding-right: 6.875rem;
  }
}

.comments {
  padding-left: 1rem;
  padding-right: 1rem;
}

.comments-content {
  display: flex;
}
.comments-content__image {
  padding-bottom: 0;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  margin-right: 0.938rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.comments-content__form :nth-child(3) {
  padding-top: 1.25rem;
}

label {
  display: block;
  text-transform: uppercase;
  color: #AFAFAF;
  font-weight: 700;
  line-height: 1.25rem;
  font-size: 0.625rem;
  padding-bottom: 0.25rem;
}

input {
  width: 100%;
}

textarea {
  width: 100%;
  height: 7rem;
}

button {
  width: 100%;
  height: 2.5rem;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 700;
  line-height: 1.25rem;
  font-size: 0.625rem;
  background-color: #323232;
  margin-top: 0.8rem;
  margin-bottom: 1.5rem;
  border-radius: 0.25rem;
}

.comment-article {
  display: flex;
  border-top: solid 0.063rem #E1E1E1;
  padding-top: 0.938rem;
}
.comment-article__image {
  background-color: #E1E1E1;
  padding-bottom: 0;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  margin-right: 0.938rem;
}

.comment-name-date {
  display: flex;
  justify-content: space-between;
}
.comment-name-date p:first-child {
  font-weight: 600;
}
.comment-name-date p:nth-child(2) {
  color: #AFAFAF;
}

#currentCommentsContainer article:last-child {
  border-bottom: solid 0.063rem #E1E1E1;
  margin-bottom: 1.2rem;
}/*# sourceMappingURL=bio.css.map */