@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro.ttf") format("truetype"), url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff"), url("../assets/fonts/AvenirNextLTProDemi.ttf") format("truetype"), url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("../assets/fonts/AvenirNextLTProBold.ttf") format("truetype"), url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "AvenirNext LT Pro";
}

h1 {
  margin: 0;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
}

h2 {
  margin: 0;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
}

p {
  margin: 0;
  padding-bottom: 1rem;
  font-size: 0.813rem;
  font-weight: 400;
  line-height: 1.125rem;
}

img {
  padding-bottom: 1rem;
  width: 100%;
}

.site-header {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.site-header__logo {
  max-width: 7.5rem;
  padding-bottom: 0.2rem;
  padding-top: 1rem;
}

.header-nav {
  width: 100%;
}
.header-nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-nav__item {
  width: 50%;
  line-height: 2rem;
}
.header-nav__link {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #E1E1E1;
  text-decoration: none;
  padding-bottom: 0.438rem;
  font-size: 0.875rem;
}
.header-nav__link--selected {
  color: #FFFFFF;
  border-bottom: solid #FFFFFF 0.2rem;
  font-weight: 700;
}
.header-nav__link:hover {
  color: #FFFFFF;
  border-bottom: solid #FFFFFF 0.2rem;
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding-left: 1rem;
  padding-right: 1rem;
}
.footer__logo {
  max-width: 7.5rem;
  padding-top: 3.125rem;
}

.footer-socials__container {
  display: flex;
  justify-content: space-between;
  width: 44%;
}
.footer-socials__icons {
  height: 2.5rem;
}

.footer-contacts > div {
  padding-top: 0.5rem;
}
.footer-contacts > div p:first-child {
  font-weight: 600;
}

.hero {
  position: relative;
  text-align: left;
}
.hero__image {
  display: block;
  padding: 0;
}
.hero__overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(50, 50, 50, 0.5);
}
.hero__title {
  color: #FFFFFF;
  position: absolute;
  bottom: 36%;
  padding-left: 1rem;
}

.about-container {
  padding-left: 1rem;
  padding-right: 1rem;
}
.about-container > p {
  padding: 0;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.375rem;
}

.photo-gallery {
  background-color: #FAFAFA;
  padding-left: 1rem;
  padding-right: 1rem;
}/*# sourceMappingURL=bio.css.map */